<!DOCTYPE html> <!--Always at the top, declares that the document is using HTML 5-->

<html lang="en"> <!--Root element of webpage. Wraps everything on page. Tells browsers the content is english.-->
<head> <!--Information about the page. Doesn't show up on the page.-->
    <meta charset ="UTF-8"> <!--Tells the browser what character encoding to use.-->
    <title>Christina Martin - Portfolio</title> <!--Sets title shown in browser tab.-->
</head>
<body> <!--Everything inside the body appears on the page.-->
<h1>Hello, I'm Christina!</h1> <!--Header of the page. Larger font.-->
<p>Welcome to my portfolio website. I'm building a full-stack web application using Spring Boot and Java.</p> <!--Paragraph shows readable text. Smaller font.-->
</body>
</html>




